# exclude directories with images
udemy/ztmp-python-course/scripting/images/
udemy/ztmp-python-course/scripting/pokedex/
udemy/ztmp-python-course/scripting/pokedex-png/
udemy/ztmp-python-course/scripting/pdfs/
udemy/ztmp-python-course/web-dev/venv
udemy/ztmp-python-course/web-dev/__pycache__
udemy/ztmp-python-course/web-dev/static/assets/images